body{
    height: 100%;
    width: 100%;
    background-color: yellow;
}


main{
    height: 90vh;
    width: 80vh;
    margin: 5vh 10vh;
    background-color: white;
    border: 10px double black;
    text-align: center;
}





#tdlist{
    display: grid;
    grid-template-columns: 20px;
    grid-template-rows: repeat(4px, 1 fr);
}


label{
    width: 50%;
}


li, span{
    float: right;
    padding-right: 10px;
}

 .sectionList{
    height: 25vh;
}


.sectionAccomplish{
}