body{
    height: 100%;
    width: 100%;
    background-color: yellow;
}


main{
    height: 90vh;
    width: 80vh;
    margin: 5vh 10vh;
    background-color: white;
    border: 10px double black;
    text-align: center;
}

.form-check-input:hover{
    background-color: skyblue;

}





 span{
    float: right;
    border: 0.1px solid black;
    border-radius: 100px;
}

 .sectionList{
    height: 25vh;
}

